include features/emoji

//- "face" is either "front" or "back"
mixin constellation_card_face(face)
  //- Add the HTML class for toggling flipped status
  div.block(class=`constellation-card-${face}`)
    //- For each face, include the readonly/editable boolean
    input(type="hidden" name="attr_readonly")
    .constellation-card-readonly
      .card
        .card-header
          .card-header-title
            span(name=`attr_name_${face}`)
          //- TODO: .card-header-icon
        .card-content
          span(name=`attr_desc_${face}` style="white-space: pre-line")
    .constellation-card-editable
      .field
        .field-label
          label.label= `Card Name (${face})`
        .field-body
          .field
            .control
              input.input(type="text" name=`attr_name_${face}` placeholder="Card Name" list="card_names")
      .field
        .field-label
          label.label= `Card Text (${face})`
        .field-body
          .field
            .control
              textarea.textarea(name=`attr_desc_${face}` rows="10" style="white-space: pre-line")

.roll20reset
  #constellation-cards-sheet
    .container 
      fieldset.repeating_cards
        //- State of the card in the collection
        label
          input(type="checkbox" name="attr_readonly" checked=false)
          | Readonly?
        label
          input(type="checkbox" name="attr_flipped" checked=false)
          | Flipped?
        br

        //- Card properties that can't be edited
        input(type="hidden" name="attr_flipped")
        +constellation_card_face("front")
        +constellation_card_face("back")

//- Pull in datalists for auto completing text fields
include datalists

script(type="text/worker")
  | const CONSTELLATION_CARDS = 
  include constellation-cards.json
  | ;
  include:typescript sheetworkers/sheetworkers.ts

//- Roll templates
include rolltemplates

//- Include some CSS classes that will be injected by Roll20, so that PurgeCSS doesn't cleanse them
.btn.repcontrol_add.repcontrol_edit.repcontrol_move.repcontrol_del