mixin mini_default(label, help)
  strong(style="width: 6rem")= `${label}: `
  if block
    block

mixin mini_value(label, attr_name, help = "Value")
  +mini_default(label, help)
    input(type="number" name=`attr_${attr_name}` value="0")&attributes(attributes)
    if block
      block

mixin mini_current_max(label, attr_name)
  +mini_default(label)
    input(type="number" name=`attr_${attr_name}` value="0")
    span= " / "
    input(type="number" name=`attr_${attr_name}_max` value="0")

.columns
  .column
    //- Top level
    +section()
      .columns
        .column.is-6
          strong
            span(name="attr_character_name")
          span= " - "
          span(name="attr_class")
        .column.is-2
          strong Movement:
        .column.is-3
          input(type="text" name="attr_movement" list="movement")
      .columns
        .column
          +mini_current_max("HP", "hp")
        .column
          +mini_value("RB", "rb")
        .column
          +mini_value("Dodge", "armor_dodge")
        .column
          +mini_value("Ward", "armor_ward")
      .columns
        each val in ["physical", "astral", "umbral", "toxic"]
          - var label = val.charAt(0).toUpperCase() + val.slice(1)
          - var attr_name = `soak_${val}`
          .column
            +mini_value(label, attr_name)
              button.noctis-button-yellow.d6(type="action" name="act_soak" data-soak-label=label data-soak-attr=attr_name)
      .columns
        .column
          +mini_value("Auto-Atk", "weapon_auto_attack")
        .column
          +mini_value("Core Dmg", "weapon_core_damage")
        .column
          +mini_value("Range", "weapon_range")
        .column
          +mini_value("Wpn Dice", "weapon_dice")
            button.noctis-button-red.d20(type="action" name="act_attack")
    +section("Talents and Powers")
      include sections/powers