include features/emoji

//- "face" is either "front" or "back"
mixin constellation_card_face(face)
  //- Add the HTML class for toggling flipped status
  div(class=`constellation-card-${face}`)
    //- For each face, include the readonly/editable boolean
    input(type="hidden" name="attr_readonly")
    .constellation-card-readonly
      strong= face
      br
      span(name=`attr_name_${face}`)
      br
      span(name=`attr_desc_${face}` style="white-space: pre-line")
      br
    .constellation-card-editable
      strong= face
      input(type="text" name=`attr_name_${face}` placeholder="Card Name" list="card_names")
      br
      textarea(name=`attr_desc_${face}` style="border: thin solid black")

.roll20reset
  #constellation-cards-sheet
    .container 
      fieldset.repeating_cards
        //- State of the card in the collection
        label
          input(type="checkbox" name="attr_readonly")
          | Readonly?
        label
          input(type="checkbox" name="attr_flipped")
          | Flipped?
        br

        //- Card properties that can't be edited
        input(type="hidden" name="attr_flipped")
        +constellation_card_face("front")
        +constellation_card_face("back")

//- Pull in datalists for auto completing text fields
include datalists

script(type="text/worker")
  | const CONSTELLATION_CARDS = 
  include constellation-cards.json
  | ;
  include:typescript sheetworkers/sheetworkers.ts

//- Roll templates
include rolltemplates

//- Include some CSS classes that will be injected by Roll20, so that PurgeCSS doesn't cleanse them
.btn.repcontrol_add.repcontrol_edit.repcontrol_move.repcontrol_del